pkgbase = mingw-w64-qt5-datavis3d-static
	pkgdesc = Qt Data Visualization module (mingw-w64)
	pkgver = 5.15.14
	pkgrel = 1
	url = https://www.qt.io/
	arch = any
	groups = mingw-w64-qt5
	license = GPL3
	license = LGPL
	license = FDL
	license = custom
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-pkg-config
	makedepends = mingw-w64-qt5-declarative-static
	makedepends = git
	depends = mingw-w64-qt5-base-static
	depends = mingw-w64-qt5-datavis3d
	optdepends = mingw-w64-qt5-declarative-static: QML bindings
	options = !strip
	options = !buildflags
	options = staticlibs
	source = git+https://invent.kde.org/qt/qt/qtdatavis3d#commit=79cd0fb6cafcd42e4037ae1363fda3bc2cec934a
	sha256sums = 26b3c03b662febb9ceee112fc1c8fd1de236ef85a7db74492f78395988757217

pkgname = mingw-w64-qt5-datavis3d-static
